<article>
	<h1>Work in progress</h1>
    <a href='/user_settings'>Settings</a>
    <p>You'll eventually be able to see your previous orders here,<br>
	as well as specify favourite locations and your personal details.</p>
	<a href="javascript:history.back()"><button class="blue">Back</button></a>
</article>