<article>
	<h1>Account Menu</h1>
    <ul>
        <li><a href='/user_settings'>Settings</a></li>
        <li><a href='/user_orders'>My Orders</a></li>
        <li><a href='/user_favourites'>Favourites Places</a></li>
    </ul>
	<a href="javascript:history.back()"><button class="blue">Back</button></a>
</article>