<article>
	<h1>Admin system</h1>
	<p><a href="/tweets">Incoming tweets</a></p>
	<p><a href="/orders">Current orders</a></p>
	<p><a href="/cars">Cars</a></p>
	<p><a href="/users">Users</a></p>
	<a href="/logout"><button class="blue">Log out</button></a>
</article>