<article class="filter">
    <h2>Seats</h2>
    <ul class="seatsFilter">
    <li><input type="checkbox" name="3" value="3"> 3</li><br>
    <li><input type="checkbox" name="4" value="4"> 4</li><br>
    <li><input type="checkbox" name="5" value="5"> 5</li><br>
    <li><input type="checkbox" name="6" value="6"> 6</li><br>
    <li><input type="checkbox" name="7" value="7"> 7</li><br>       
    </ul>
    <h2>Type</h2>
    <ul class="typeFilter">
    <li><input type="checkbox" name="Suv" value="Suv"> Suv</li><br>
    <li><input type="checkbox" name="Sport" value="Sport"> Sport</li><br>
    <li><input type="checkbox" name="Limo" value="Limo"> Limo</li><br>
    <li><input type="checkbox" name="Compact" value="Compact"> Compact</li><br>
    <li><input type="checkbox" name="Convertible" value="Convertible"> Convertible</li><br> 
    <li><input type="checkbox" name="Mini-bus" value="Mini-bus"> Mini-bus</li><br>
    <li><input type="checkbox" name="Sedan" value="Sedan"> Sedan</li><br> 
    <li><input type="checkbox" name="Other" value="Other"> Other</li><br> 
    </ul>
</article>

<article class="Table">
    <% if params[:admin_login] %>
        <table>
            <tr>
                 <th>Car types</th>
                </tr>
             <tr>
                    <th>Suv: 0</th>
                    <th>Sport: 1</th>
                    <th>Limo: 2</th>
                    <th>Compact: 3</th>
               </tr>
             <tr>
                    <th>Convertible: 4</th>
                    <th>Mini-bus: 5</th>
                    <th>Sedan: 6</th>
                    <th>Other: 7</th>
            </tr>
    </table>
    <% end %>
    <h1>Active Cars</h1>
        <br />
    <table>
		<tr>
			<th>Car ID</th>
            <th>Status</th>
            <th>Type</th>
            <th>Seats</th>
			
		</tr> 
    </table>      
    <table class="carTable">
          <% unless @Carlist.nil? %>
        <% puts @Carlist %>

       <% @Carlist.each do |car| %>
        <% puts car[:Status] %>
		<tr>
		<td> <%= car[:CarID] %></td>
           	 <% if car[:Status] == "0" %>
                <td> Available</td>
            <% elsif car[:Status] == "1" %>
                <td> Unavailable</td>
            <% elsif car[:Status] == "2"%>
                <td> Busy</td>
            <% end %>
             <% if car[:Type] == "0" %>
                <td> Suv</td>
            <% elsif car[:Type] == "1" %>
                <td> Sport</td>
            <% elsif car[:Type] == "2" %>
                <td>Limo</td>
            <% elsif car[:Type] == "3" %>
                <td> Compact</td>
            <% elsif car[:Type] == "4" %>
                <td> Convertible</td>
            <% elsif car[:Type] == "5" %>
                <td> Mini-bus</td>
            <% elsif car[:Type] == "6" %>
                <td> Sedan</td>
            <% elsif car[:Type] == "7" %>
                <td> Other</td>
            
            <% end %>
            <td> <%= car[:Seats] %></td>
			
		</tr>
        

        <% end %>
	</table>
    </article>  
 <% end %>

<script>
var itemsToFilter = document.querySelectorAll(".carTable tr")
var checkBoxes1 = document.querySelectorAll(".seatsFilter li input")
var checkBoxes2 = document.querySelectorAll(".typeFilter li input")

var allCar = [3,4,5,6,7]
var optionsCar = [3,4,5,6,7];
var optionsType = ["Suv","Sport","Limo","Compact","Convertible","Mini-bus","Sedan","Other"]
var fulllist = [optionsCar.length,optionsType.length];    
    
for (var i =0; i < checkBoxes1.length; i++)
    checkBoxes1[i].addEventListener("click", filterItems, false);

for (var i =0; i < checkBoxes2.length; i++)
    checkBoxes2[i].addEventListener("click", filterItems, false);
    
function filterItems(e){
    var clickedItem = e.target;
    if (clickedItem.checked == true){
        if (optionsCar.includes(parseInt(clickedItem.value))){
            optionsCar = optionsCar.filter(item => item !== parseInt(clickedItem.value));
            hideOrShowItemsSeats();}
        else{
            optionsType = optionsType.filter(item => item !== clickedItem.value.toString());
            hideOrShowItemsType();
        }
    
    }else if (clickedItem.checked == false){
        if (allCar.includes(parseInt(clickedItem.value))){
            optionsCar.push(parseInt(clickedItem.value))
            hideOrShowItemsSeats();}
        else{
            optionsType.push(clickedItem.value.toString());
            hideOrShowItemsType();
        }

    }
}
    
function hideOrShowItemsSeats(){
    for (var i = 0; i < itemsToFilter.length; i++){
        var currentItem = itemsToFilter[i];
            var value = currentItem.cells[3].firstChild.nodeValue;
            if (!optionsCar.includes((parseInt(value))) && !(currentItem.className.toString()).includes("hideItemType")){
                currentItem.className = "";}
            else if (optionsCar.length == fulllist[0]){
                currentItem.className = (currentItem.className).toString().replace("hideItemSeats" , "");
            }else if (!(currentItem.className.toString()).includes("hideItemSeats")){            
                currentItem.className = (currentItem.className).toString() + " " + "hideItemSeats";
            }
    }  
}

function hideOrShowItemsType(){
    for (var i = 0; i < itemsToFilter.length; i++){
        var currentItem = itemsToFilter[i];
            var value = String(currentItem.cells[2].firstChild.nodeValue).replace(" ", "");
            if (!optionsType.includes((value.toString())) && !(currentItem.className.toString()).includes("hideItemSeats")){
                currentItem.className = "";}
            else if (optionsType.length == fulllist[1] ){
                currentItem.className = (currentItem.className).toString().replace("hideItemType", "");
            }else if (!(currentItem.className.toString()).includes("hideItemType")){            
                currentItem.className = (currentItem.className).toString() + " " + "hideItemType";
        }
    }  
}
</script>