
<article>
    <h1> The type of cars</h1>
<form method="post"  bgcolor="white">

		

		<img src="images/car S.jpg" img border="0"  width="500" height="265">	
		
		 <button id="button1" class="huge blue">Reguler</button>
        </form>
		<form method="post"  bgcolor="white">
			
			<img src="images/car L.jpg" img border="0"   width="500" height="265">	
			
		<button id="button1" class="huge blue" >Large</button>
   
		</form>
    <form method="post"  bgcolor="white">
			<img src="images/car M.jpg" img border="0"   width="500" height="265">	
			
    <button id="button1" class="huge blue" >Exec</button>
    </form>
        <form action="/Added_car">
    <button id="button1" class="huge blue" >xxx</button>
    </form>

    <p>Regular</p>
    <% @regularcars.each do |car| %>
        <p><%=car%></p>
    <% end %>
    <p>Large</p>
    <% @largecars.each do |car| %>
        <p><%=car%></p>
    <% end %>
    <p>Exec</p>
    <% @execcars.each do |car| %>
        <p><%=car%></p>
    <% end %>
</article>

