<!doctype html>
<html>
<head>
</head>
<body>
    <h1>Twaxis</h1>
    <ul>
        <li><a href="/car_table">Car Table</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/admin">Admin</a></li>
    </ul>
</body>
</html>