<h1>Order your taxi with a tweet.</h1>
<% if !session[:admin_login] and !session[:user_login]%>
<button class="huge blue" onclick="location.assign('/join')">Create an account</button><br>
<button class="huge blue" onclick="location.assign('/log_in')">Login</button>
<% end %>