<!DOCTYPE html> 
<html> 
    <head>
        <TITLE>TWAXI</TITLE> 
    </head>
    <body> 
        <div class="topbar">
           
            <a href="#" >HOME</a>&emsp;&emsp;
            <a href="#">INFORMATION</a> &emsp;&emsp;
            <a href="#" >ORDER HISTORY</a> &emsp;&emsp;
            <a href="#">CONTACT US</a> &emsp;&emsp;
            <a href="#" >Log in</a> &emsp;&emsp;
            <a href="#" >Sign up</a>
 </div>
        
       <div class="head">
           <br>
			<h1 class="title">TWAXI</h1>
				<hr class="border" style="margin:auto;width:40%">
					<p class="subtitle">Order taxi by twitter</p>
	
       </div>
    
    </body>
    <footer class="footer">
	<a href="http://www.facebook.com/sheffieldstudentsunion/" target="_white" >	
		<img src = "facebook.svg" alt="facebook">
	</a>		
			<div class="copy">
				&copy Team28 2019/03/07
			</div>
</footer>

</html>
</html>
