<article class="narrow">
	<h1>Sign up</h1>
	<form method="post" action="/join">
		<input type="text" name="display_name" placeholder="Twitter handle" 
			   pattern="@?\w{1,15}" required>
        <input type="text" name="first_name" placeholder="First name" required>
        <input type="text" name="surname" placeholder="Surname" required>
		<input type="email" name="email" placeholder="Email address" required>
		<input type="password" name="password" placeholder="Choose a password..." required>
		<input type="submit" class="blue" value="Join">
	</form>
</article>