<article>
	<h1>Log in</h1>
	<form method="post" action="/admin">
		<input type="text" name="display_name" placeholder="Email Address" required>
		<input type="password" name="password" placeholder="Password" required>
		<input type="submit" class="blue" value="Submit">
	</form>
    <br>
    <a href="">Register</a>
    <br>
    <a href="">Forgotten Password</a>
</article>