<!doctype html>
<html>
<head>
    <%= erb :header %>
</head>
<body>
    <% if session[:logged_in] != true %>
        <div >
            <form action="/login" method="post">
                <p>Username: <input type="text" name="username"/></p>
                <br>
                <p>Password: <input type="password" name="password"/></p>
                <input type="submit" name="Submit"/>
            </form>
            <p><a href="">Forgotten Password?</a></p>
            <br>
            <p><a href="">Register Now</a></p>

            <% unless @error.nil?%>
                <p><%= @error %></p>
            <%end%>
        </div>  
    <% end %>
</body>
</html>

