<!doctype html>
<html>
<head>
    <%= erb :header %>
</head>
<body>
    <form action="" method="">
        <p>Username: <input type="text" name="username"/></p>
        <br>
        <p>Password: <input type="password" name="password1"/></p>
        <br>
        <p>Confirm Password: <input type="password" name="password2"/></p>
        <br>
        <p>Email Adress: <input type="email" name="email"/></p>
        <input type="submit" name="Submit"/>
        <button><a href="/login">Back</a></button>
    </form>
</body>
</html>