<!DOCTYPE HTML>
<html class="<%= @view %>">
	<head>
		<meta charset="utf-8">
        <title>Twaxis | <%= @view.to_s.capitalize.gsub("_", " ") %></title>
		<link rel="stylesheet" href="css/Twaxis.css">
		<script src="js/Twaxis.js"></script>
	</head>
	<body>
		<header>
            <h1 class="brand"><a href="/" class="headerlinks">Twaxis</a></h1>
            <ul>
                <% if session[:admin_login] or session[:user_login] %>
                <li><a href="/account" class="headerlinks">Account</a></li>
                <% end %>
                <% if session[:admin_login] %>
                <li><a href="/admin" class="headerlinks">Admin</a></li>
                <% end %>
            </ul>
		</header>
		<main>

<%= erb @view %>

		</main>
		<footer>
			<p>&copy; 2019<%= (year = Time.now.year) > 2019 ? -year : "" %> Twaxis</p>
		</footer>
	</body>
</html>