<article>
	<h1>Settings</h1>
	<form method="post" action="/user_settings">
		<input type="text" name="display_name" placeholder="change Twitter name">
        <input type="text" name="first_name" placeholder="Change First name">
        <input type="text" name="surname" placeholder="Change surname">
		<input type="password" name="password" placeholder="Change password">
		<input type="submit" class="blue" value="Save">
	</form>
</article>