<article>
	<h1>Work in progress</h1>
	<p>You'll eventually be able to see users' previous orders here,<br>
	as well as specify favourite locations and personal details.</p>
	<a href="javascript:history.back()"><button class="blue">Back</button></a>
</article>