<article>
	<h1>Settings</h1>
	<form method="post" action="/user_settings">
		<input type="password" name="pass1" placeholder="Change password">
        <input type="password" name="pass2" placeholder="Rewrite password">
		<input type="submit" class="blue" value="Save">
	</form>
</article>