<!DOCTYPE html>
<html>
  <body>
	<h1>Add order</h1>
	<form method="post" action="/Added_Order">
		<input type="integer" name="UserID" placeholder="Should automatically add UserID" required>
        <input type="integer" name="Pickup_location" placeholder="Should automatically add pickup location>
		<input type="integer" name="CarID" placeholder="Should automatically add CarID>
		<input type="submit" class="blue" value="Submit">
	</form>
 </body>
</html>